<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="android.testisim.com.testisim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.testisim.activities.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.testisim.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.splash.AgeSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.splash.AgeInformativeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.splash.CelebrityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.dictionary.DictionaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.settings.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestFirstStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestSecondStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestThirdStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.logs.TestLogsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestDecisionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.SymptomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.test.TestResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.ThreeDObjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.settings.TermsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.testisim.activities.settings.CreditsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>